@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #161616;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #AAF5FA;
  }
}

@font-face {
  src: local('Satoshi'), url('./fonts/Satoshi-Variable.woff2') format('woff2');
  font-family: var(--font-noto-sans-tc);
  unicode-range: U+4E00-9FFF; /* 中文字體範圍 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-satoshi),  var(--font-noto-sans-tc), sans-serif; /* 英文字體為預設 */

}

